<h2>Recently Added Books</h2>
<br>
<div>
  <% books.forEach(book => { %>
    <a href="/books/<%= book.id %>">View Book</a>
      <img height="150" width="100" src="<%= book.coverImagePath %>" alt="">
  <% });  %>
</div>