/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	font-family: 'Lato', sans-serif;
	overflow-x: hidden !important;
	line-height: 1.5;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

h1,
h2,
h3,
h4 {
	font-family: 'Roboto', sans-serif;
}
a {
	color: #333;
	text-decoration: none;
}
/* Variables */

:root {
	/* --primary-bg-color: #b80d57;
   */
	--primary-bg-color: #cc0066;
	--showcase-bg-color: #ea728c;
	--dark-colour: #333;
	--book-width: 200px;
	--book-width-large: 325px;
	--btn-primary-color: #d9455f;
	--btn-secondary-color: #ff6b6b;
	--form-color: #82ccdd;
}
/* Utility Classes */

.container {
	max-width: 1200px;
	margin: auto;
}

.primary-text {
	font-size: 4rem;
	font-weight: 300;
	letter-spacing: 2px;
}
.secondary-text {
	font-size: 2rem;
}

.py-1 {
	padding: 1rem 0;
}
.py-2 {
	padding: 1.5rem 0;
}
.py-3 {
	padding: 2rem 0;
}
.p-1 {
	padding: 1rem;
}
.p-2 {
	padding: 1.5rem;
}
.p-3 {
	padding: 2rem;
}

.btn-group {
	margin: 1.5rem;
}
.btn {
	display: inline-block;
	border: none;
	line-height: 1.2;
	border-radius: 5px;
	padding: 0.8rem;
	cursor: pointer;
	font-size: 1.5rem;
	width: 20%;
	text-align: center;
	/* margin: 0 1rem; */
	margin-right: 1rem;
	transition: all 0.4s ease;
}
.btn:hover {
	background: #ff6b6b;
}
.btn-primary {
	background: var(--btn-primary-color);
	color: #fff;
}
/* Navbar */

#main-nav {
	position: sticky;
	top: 0;
	z-index: 2;
	background: var(--primary-bg-color);
}
#main-nav .container {
	display: flex;
	justify-content: space-between;
}

#main-nav ul {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

#nav-title {
	font-size: 2rem;
	margin: 1rem;
}

#main-nav ul li {
	list-style: none;
	margin: 1rem;
}

#main-nav ul li a {
	font-size: 1.5rem;
	transition: all 0.3s ease;
}
#main-nav ul li a:hover {
	color: #000;
}

/* Showcase Area */

#showcase {
	background: var(--showcase-bg-color);
	color: #fff;
	position: relative;
	padding: 2rem;
}
#showcase:before {
	content: '';
	background: url(/img/showcase-books.jpg) no-repeat center center/cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.4;
}
#showcase .container {
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#showcase .container .showcase-content {
	z-index: 1;
	text-align: center;
}

/* Book Gallery */

.book-gallery {
	padding: 1rem;
	height: 100%;
	background: #f4f4f4;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
	margin-bottom: 4rem;
}
.book-gallery a img {
	width: var(--book-width-large);
	height: calc(var(--book-width-large)/0.75);
}
.book-gallery a img {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s ease;
}

.book-gallery a img:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.book {
	margin: 0 auto;
}

/* Forms */
.main-form {
	width: 100%;
	/* background: #40bad5;
	 */
	background: var(--form-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem 0;
	border-radius: 5px;
	box-shadow: 1px solid;
	margin: 0 auto;
	margin-bottom: 3rem;
}
.main-form .btn-group {
	margin: 1.5rem;
	width: 80%;
	display: flex;
}
.form-group {
	margin: 1.5rem;
	width: 80%;
}
.form-group label {
	display: block;
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

.form-group input,
.form-group textarea,
.form-group select {
	resize: none;
	width: 50%;
	height: 2rem;
	padding: 1rem;
	font-size: 1.2rem;
}
.form-group select {
	outline: 1px solid;
}
.form-group textarea {
	height: 5rem;
}
.form-group input,
.form-group textarea {
	border: 2px solid;
	border-color: #333;
	border-radius: 5px;
}

/* Filepond basic  */
.filepond--root {
	margin-bottom: 0;
	max-width: 18rem;
	min-height: 25rem;
}
.filepond--drop-label {
	padding: 1rem;
	font-size: inherit;
}

/* Footer */
.footer-container {
	margin-top: auto;
}
#main-footer {
	background: var(--dark-colour);
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}
